Repository ovotech/circleci-orbs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovotech/production-eng, @ovotech/dex, @mwz, @ovotech/reads-consumption, @ovotech/jaws, @ovotech/orion-sre, @ovotech/orion-migration, @ovotech/orion-ops-tooling, @ovotech/orion-security-engineering, @ovotech/jaws-library-maintainers, @ovotech/smart-bookings, @ovotech/asp-team, @ovotech/metering-industry-abstraction-cluster-admins, @ovotech/comms, @ovotech/ipa, @ovotech/consumer-products-production-engineering, @ovotech/agent-platform-enablement, @ovotech/ohs-domainleads

.github/CODEOWNERS:

*                                @ovotech/production-eng @ovotech/dex
/terraform/                      @ovotech/production-eng @ovotech/dex
/clair-scanner/                  @ovotech/production-eng @ovotech/dex
/aws-rotate-keys/                @mwz
/rac-gcp-deploy/                 @ovotech/reads-consumption
/rac-kmi-deploy/                 @ovotech/reads-consumption
/aws-configure-credentials-oidc/ @ovotech/production-eng
/aws-get-parameters/             @ovotech/jaws
/tools-install/                  @ovotech/orion-sre
/with-git-deploy-key/            @ovotech/orion-sre
/versioned-lambda/               @ovotech/orion-migration
/set-current-environment/        @ovotech/jaws
/oot-eks/                        @ovotech/orion-ops-tooling
/clojure/                        @ovotech/orion-ops-tooling
/ssh-proxy/                      @ovotech/orion-security-engineering
/jaws-journey-deploy             @ovotech/jaws-library-maintainers
/oot-deploy/                     @ovotech/orion-ops-tooling
/sbt-deploy/                     @ovotech/smart-bookings
/asp-deploy/                     @ovotech/asp-team
/argocd/                         @ovotech/metering-industry-abstraction-cluster-admins
/comms-commands/                 @ovotech/comms
/ipa-deploy/                     @ovotech/ipa
/sast/                           @ovotech/consumer-products-production-engineering
/setup-scheduled-pipeline/       @ovotech/consumer-products-production-engineering
/kap-kmi-deploy/                 @ovotech/agent-platform-enablement
/build-utilities                 @ovotech/ohs-domainleads

argocd 1.1.0
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Owners: @ovotech/jaws-library-maintainers

deploy again
  gitops/README.md
Owners: @ovotech/production-eng, @ovotech/dex

sync request parameter
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Owners: @ovotech/jaws-library-maintainers

[OMP-1763] Add AWS OIDC login support to jaws-journey-deploy/run-automation-test
  jaws-journey-deploy/orb.yml
Owners: @ovotech/jaws-library-maintainers

Bump jaws-journey-deploy orb version
  jaws-journey-deploy/orb_version.txt
Owners: @ovotech/jaws-library-maintainers

using argo1.1.0 (#494)
  jaws-journey-deploy/changelog.md
  jaws-journey-deploy/orb.yml
Owners: @ovotech/jaws-library-maintainers

fix: allow var to be defined as well
  jaws-journey-deploy/orb.yml
  jaws-journey-deploy/orb_version.txt
Owners: @ovotech/jaws-library-maintainers

Remove serverless alerts
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Owners: @ovotech/ipa

Add npm ci step for IPA orb
  ipa-deploy/README.md
  ipa-deploy/orb.yml
  ipa-deploy/orb_version.txt
Owners: @ovotech/ipa

closes #500 add path label to fmt-check step name
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
Owners: @ovotech/production-eng, @ovotech/dex

closes #500 add path label to fmt-check step name (#501)
  terraform-v2/CHANGELOG.md
  terraform-v2/orb.yml
  terraform-v2/orb_version.txt
Owners: @ovotech/production-eng, @ovotech/dex

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/README.md
  terraform-registry/orb.yml
  terraform-registry/orb_version.txt
Owners: @ovotech/production-eng, @ovotech/dex

CPPE addition / modification of CircleCI orb terraform-registry
  terraform-registry/orb.yml
Owners: @ovotech/production-eng, @ovotech/dex
